<!--
<div class="container" >
  <hr class='footer-bar' />  
  <div class="row-fluid"> 
     <div class="span6 text-left gray"> Developed by <a href='http://www.instedd.org' >InSTEDD </a> </div>
     <div class="span6 text-right gray"> Version 1.0  </div>
  </div>  
</div>

-->